<div class="forget-container">
  <!-- Left Image -->
  <div class="left-side">
    <img src="/assets/photo.jpg" alt="Bookstore" />
  </div>

  <!-- Right Form -->
  <div class="right-side">
    <div class="form-box">
      <img src="assets/logo.png" alt="Logo" class="logo" />

      <p class="welcome-text">Welcome back!</p>
      <h2 class="form-title">Forget Password !!</h2>

      <form [formGroup]="forgotForm" (ngSubmit)="onSubmit(forgotForm)">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>E-mail</mat-label>
          <input matInput placeholder="Enter your email" formControlName="email" />
          <mat-error *ngIf="forgotForm.get('email')?.hasError('required')">
            Email is required
          </mat-error>
          <mat-error *ngIf="forgotForm.get('email')?.hasError('email')">
            Enter a valid email
          </mat-error>
        </mat-form-field>
        <button mat-stroked-button color="primary" class="send-btn" [disabled]="forgotForm.invalid" type="submit">
          Send
        </button>
      </form>
    </div>
  </div>
</div>
