<div class="reset-container">
  <div class="left-image">
    <img src="/assets/photo.jpg" alt="Bookstore" />
  </div>

  <div class="right-form">
    <div class="form-box">
      <img src="/assets/logo.png" alt="Logo" class="logo" />
      <p class="welcome-text">Welcome back!</p>
      <h3 class="login-title">Reset Your Password Now !</h3>

      <form [formGroup]="resetForm" (ngSubmit)="onSubmit(resetForm)">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>E-mail</mat-label>
          <input matInput placeholder="john@mail.com" formControlName="email" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>OTP</mat-label>
          <input matInput placeholder="Enter OTP" formControlName="otp" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" />
          <button mat-icon-button matSuffix (click)="hide = !hide" type="button">
            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
            <!-- Errors -->
  <mat-error *ngIf="resetForm.get('password')?.hasError('required')">
    Password is required.
  </mat-error>
  <mat-error *ngIf="resetForm.get('password')?.hasError('minlength')">
    Password must be at least 8 characters.
  </mat-error>
  <mat-error *ngIf="resetForm.get('password')?.hasError('maxlength')">
    Password must be no more than 16 characters.
  </mat-error>
  <mat-error *ngIf="resetForm.get('password')?.hasError('pattern')">
    Password must contain uppercase, lowercase, number, and special character.
  </mat-error>
        </mat-form-field>

        <mat-checkbox class="remember-me" style="margin-top: 18px;"><span style="color:#6251dd;">Remember Me</span> </mat-checkbox>

        <button
          mat-flat-button
          color="warn"
          class="full-width"
          type="submit"
          [disabled]="resetForm.invalid"
        >
          Send
        </button>

        <button mat-stroked-button class="full-width" style="color: #6251dd;border-color: #6c63ff" routerLink="/auth/login">
          Login
        </button>
      </form>
    </div>
  </div>
</div>
